{
  "parserOptions": {
      "ecmaVersion": 2017,
      "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "env": {
    "es6": true,
    "browser": true,
    "jquery": true
  },
  "rules": {
    "semi": 1,
    "indent": ["warn", 2],
    "no-console": "off",
    "no-debugger": "warn",
    "no-unused-vars": "warn"
  }
}
