* {
  text-align: center;
}

body {
  background-image: url("https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: monospace;
  font-size: calc(16px + 0.5vw);
  letter-spacing: .15rem;
  overflow: hidden;
}

h1 {
  color: orange;
  font-family: 'VT323', monospace;
  font-size: calc(96px + 0.5vw);
  line-height: normal;
  letter-spacing: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  padding-bottom: 120px;
}

p {
  font-size: 1.25rem;
}

#splash-screen-text h1 {
  padding-top: 520px;
  padding-bottom: 0;
  margin-bottom: 1.5rem;
}

#splash-screen-alien {
  margin: 1rem auto;
}

#splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

#play-game {
  padding: 10px 35px;
  letter-spacing: .35rem;
  color: white;
  border: 2px solid lightgreen;
}

#play-game:hover {
  border: 4px solid lightgreen;
  cursor: pointer;
}

.container {
  padding-top: 120px;
}



#statRow {
  font-size: 30px;
}

.score, .possibleScore, .roundTime {
  color: orange;
}

#health-bar img {
  width: 3%;
}

#userInput {
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0;
  border: 0;
  margin: 2rem 0;
  padding: 0.5rem;
}

#userInput:focus {
  border: 2px solid purple;
}

.level {
  color: orange;
}

.playerShip {
  position: relative;
  margin: 1rem;
}

#displayCode {
  height: 2rem;
}

.playerCode {
  color: white;
  padding: 1rem;
}

.invaderCode {
  color: orange;
}

.playerShipBarrelRollRight {
  -webkit-animation-name: rightMove; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: rightMove;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  /* transform-style: preserve-3d; */
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes rightMove {
  0%   {left:0px; top:0px;}
  25%  {left:25.5%; top:-10%;}
  50%  {left:25.5%; top:-20%;}
  75%  {left:25.5%; top:100%;}
  100%  {left:0px; top:0px;}
  from {transform: rotateY(0deg);}
  to {transform: rotateY(-180deg);}
}

@keyframes rightMove {
  0%   {left:0px; top:0px;}
  25%  {left:25.5%; top:-10%;}
  50%  {left:25.5%; top:-20%;}
  75%  {left:25.5%; top:100%;}
  100% {left:0px; top:0px;}
  from {transform: rotateY(0deg);}
  to {transform: rotateY(-180deg);}
}

.playerShipSpinOutRight {
  -webkit-animation-name: rightSpinOut; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: rightSpinOut;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  /* transform-style: preserve-3d; */
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes rightSpinOut {
  0%   {left:0px; top:0px;}
  25%  {left:25.5%; top:-10%;}
  50%  {left:25.5%; top:-20%;}
  75%  {left:25.5%; top:100%;}
  100%  {left:0px; top:0px;}
  from {transform: rotateZ(0deg);}
  to {transform: rotateZ(360deg);}
}

@keyframes rightSpinOut {
  0%   {left:0px; top:0px;}
  25%  {left:25.5%; top:-10%;}
  50%  {left:25.5%; top:-20%;}
  75%  {left:25.5%; top:100%;}
  100% {left:0px; top:0px;}
  from {transform: rotateZ(0deg);}
  to {transform: rotateZ(360deg);}
}

.playerShipBarrelRollLeft {
  -webkit-animation-name: leftMove; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: leftMove;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

@keyframes leftMove {
  0%   {left:0px; top:0px;}
  25%  {left:-25.5%; top:-10%;}
  50%  {left:-25.5%; top:-20%;}
  75%  {left:-25.5%; top:100%;}
  100%  {left:0px; top:0px;}
  from {transform: rotateY(0deg);}
  to {transform: rotateY(180deg);}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes leftMove {
  0%   {left:0px; top:0px;}
  25%  {left:-25.5%; top:-10%;}
  50%  {left:-25.5%; top:-20%;}
  75%  {left:-25.5%; top:100%;}
  100%  {left:0px; top:0px;}
  from {transform: rotateY(0deg);}
  to {transform: rotateY(180deg);}
}

.laserShotAnimation {
  -webkit-animation-name: colorChange; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: colorChange;
  animation-duration: 2s;
}

.playerShipSpinOutLeft {
  -webkit-animation-name: leftSpinOut; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: leftSpinOut;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  /* transform-style: preserve-3d; */
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes leftSpinOut {
  0%   {left:0px; top:0px;}
  25%  {left:-25.5%; top:-10%;}
  50%  {left:-25.5%; top:-20%;}
  75%  {left:-25.5%; top:100%;}
  100%  {left:0px; top:0px;}
  from {transform: rotateZ(0deg);}
  to {transform: rotateZ(-360deg);}
}

@keyframes leftSpinOut {
  0%   {left:0px; top:0px;}
  25%  {left:-25.5%; top:-10%;}
  50%  {left:-25.5%; top:-20%;}
  75%  {left:-25.5%; top:100%;}
  100% {left:0px; top:0px;}
  from {transform: rotateZ(0deg);}
  to {transform: rotateZ(-360deg);}
}

@keyframes colorChange {
  0%   {color:rgba(0, 0, 0, 0);}
  40%   {color:rgba(0, 0, 0, 0);}
  50%  {color:red;}
  60%   {color:rgba(0, 0, 0, 0);}
  100%  {color:rgba(0, 0, 0, 0);}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes colorChange {
  0%   {color:rgba(0, 0, 0, 0);}
  40%   {color:rgba(0, 0, 0, 0);}
  50%  {color:red;}
  60%   {color:rgba(0, 0, 0, 0);}
  100%  {color:rgba(0, 0, 0, 0);}
}

.invaderCodeR{
  display: none;
}

.laserShotL, .laserShotR {
  color: rgba(0, 0, 0, 0);
  font-size: 32px;
}

#winner {
  display: none;
}

#gameOver, #gameWon {
  display: block;
  display: none;
  margin-top: 180px;
}

#jupiter {
  width: 40%;
}

#gameOverHeader, #gameWonHeader {
  padding: 0;
}

#giantAlien {
  -webkit-animation-name: myAlien; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: myAlien;
  animation-duration: 4s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  width: 30%;
}

@-webkit-keyframes myAlien {
  0%   {width: 0%;}
  50%  {width: 40%;}
  100% {width: 30%;}
}

/* Standard syntax */
@keyframes myAlien {
  0%   {width: 0%;}
  50%  {width: 40%;}
  100% {width: 30%;}
}

#reset-game {
  color: white;
  border: 2px solid red;
  padding: 10px 35px;
  letter-spacing: 7px;
}

#reset-game:hover {
  color: white;
  border: 4px solid red;
}

.gradient {
  height: 100vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.6) 20%,rgba(0, 0, 0, 0.6) 80%,rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  display: none;
}
